<div class="text-layout">
    <h1>DecimalPipes y Porcentaje</h1>
    <p>Pipes incluidos en Angular - Usualemente en commun module</p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas"
            subheader="del presente año"
        >
        {{ ventasNetas | number: '1.4-4'  }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ventas Brutas"
            subheader="del presente año"
        >
        {{ ventasNetas + 2000000 | currency: 'CAD' :'symbol-narrow': '1.4-4' }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ganancia Porcentual"
            subheader="del presente año"
        >
        {{ porcentaje | percent: '2.2-2' }}
        </p-card>
    </div>
</div>


